<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">
</head>
<body>
    <div class="container">
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav" >
                    <li class="sidebar-brand"></li>
                    <li>
                        <center><a href="/"> <span >Scraping Websites</span>  </a></center>
                    </li>
                    <li>
                        <a href="/indeed_scraper"><i class="glyphicon glyphicon-stats " aria-hidden="true"> </i>&ensp;<span >Indeed Scraper</span>  </a>
                    </li>
                    <li>
                        <a href="/overstock_scraper"><i class="glyphicon glyphicon-stats " aria-hidden="true">&ensp;</i><span >Over Stock Scraper</span>  </a>
                    </li>
                    <li>
                    <a href="/bed_bath_and_beyond"><i class="glyphicon glyphicon-stats " aria-hidden="true"> </i>&ensp;<span >Bed Bath and Beyond</span>  </a>
                    </li>
                    <li>
                        <a href="/google_news"> <i class="glyphicon glyphicon-stats " aria-hidden="true"> </i>&ensp;<span >Google News</span> </a>
                    </li>
                    <li>
                        <a href="/home_depot"><i class="glyphicon glyphicon-stats " aria-hidden="true"> </i>&ensp;<span >Home Depot</span> </a>
                    </li>
                    <li>
                        <a href="/samsclub"><i class="glyphicon glyphicon-stats " aria-hidden="true"> </i>&ensp;<span>Sams Club</span> </a>
                    </li>

                    <hr>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-stats " aria-hidden="true"> </i>&ensp;<span>Invite Your team</span> </a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-stats " aria-hidden="true"> </i>&ensp;<span>Settings</span></a>
                        </li>
                    </ul>
                 <a href="" id="menu-toggle" class="menu"><i class="glyphicon glyphicon-stats " aria-hidden="true"> </i> </a>

        </div>
    </div>

    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $(this).find('i').toggleClass('fa fa-angle-double-left').toggleClass('fa fa-angle-double-right');
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    </div>

    <center><h1>homedepot</h1>
        <div class="row">
    <div class="col-sm-2" >


  </div>
    <div class="col-sm-10">

            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th width="18.6%">User Id</th>
                        <th width="18.8%">Survey Id</th>
                        <th width="10%">Survey</th>
                        <th width="9%">Time Stamp</th>
                        <th width="14%">Session Id</th>
                        <th colspan="32">Responses</a></th>
                    </tr>
                </thead>
                    {% for response in responses %}
                <tbody>
                    <tr>
                        <td width="17%"><get_responses?id={{ response._id }}">{{ response._id}}</td>
                        <td width="17%"><get_responses?id={{ response._id }}">{{ response.survey_id}}</td>
                        <td width="11%"><get_responses?id={{ response._id }}">{{ response.title}}</td>
                        <td width="11%"><get_responses?id={{ response._id }}">{{ response.timeStamp}}</td>
                        <td width="12%"><get_responses?id={{ response._id }}">{{ response.Session_email}}</td>
                        <td width="8%"><get_responses?id={{ response._id }}">{{ response.ques_description1 }}</td>
                        <td width="8%"><get_responses?id={{ response._id }}">{{ response.ques_description2 }}</td>
                        <td width="8%"><get_responses?id={{ response._id }}">{{ response.ques_description3 }}</td>
                        <td width="8%"><get_responses?id={{ response._id }}">{{ response.ques_description4 }}</td>
                    </tr>
                </tbody>

                {% endfor %}
            </table>

    </div>
  </div>
</div>





    </center>

</body>
</html>

